body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #004643;
}

* {
  border: thin red solid;
}

.banner {
  display: flex;
  width: 128px;
  height: 128px;
  object-fit: cover;
  border: 2px solid blue;
}

.link {
  background-color: #f9bc60;
  display: flex;
  align-items: center;
}

.link a {
  color: #001e1d;
  text-decoration: none;
  text-align: center;
}

.name {
  color: #fffffe;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
}

.social-icons a {
  color: #fffffe;
  text-decoration: none;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
